.logo {
    height: 75px;
    background-color: lightgrey;
    width: 75px;
    border-radius: 50%;
    background-image: url("../image/fotoprib.jpeg");
    background-size: cover;
}

/* header background color */
header {

    background-color: #3d3d3d;
}
#myportofolio {
    background-color: #5f5f5f;
}
#myportofolio h2 {
    margin-bottom: 10px;
}

/* background color about section */
#about {
    background-color: #7d7d7d;
}
#about h2 {
    margin-bottom: 25px;
}

/* posisi antar gambar */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

/* ukuran pixel dan border */
.gallery img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #333;
}

#messageus {
    background-color: #bfbfbf;
}
#messageus h2 {
    margin-bottom: 30px;
}
#messageus button {
    margin-top: 15px;
}
